.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/Futures.rda
data-raw/Futures.csv
data-raw/Futures_complete.csv
data-raw/futures.xlsx
data-raw/~$*.xlsx
data-raw/Authorizations/
data-raw/JSTdatasetR6.xlsx
data-raw/LW_monthly.csv
